/*********Header*************/
.navbar-header, .navbar-default {
	background-color: #173B5F;
}

.navbar-default .navbar-brand {
    color: #eee;
    font-size: 1.375em;
}

.navbar-brand > .glyphicon {
	padding-right: 5px;
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover {
	color:#eee;
}

/********Footer*************/
.footer {
	position: absolute;
	bottom: 0;
  	width: 100%;
  	height: 60px;
  	background-color: #f0f0f0;
  	z-index: 2;
  	border-top: 2px solid #ddd;
}

.container .text-muted {
  	margin: 19px 0;
  	color: #173b5f;
}

/*******Sidebar************/
@media (min-width: 768px) {
  .sidebar {
  	background-color: #f0f0f0;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    font-family: "Calibri";
  }
}

.nav > li {
	border-bottom: 1px solid #ddd;
}

.nav > li :hover {
	border-left: 8px solid #8080ff;
}

.list-group {
	margin-bottom: 2px;
}

/******Formulario**********/
#formulario {
	height: 515px;
	width: 970px;
	position: absolute;
	margin-left: 360px;
}

.label-fecha {
	background-color: #888;
	margin-left: 10px;
}

#labelId {
	margin-right: 10px;
}

.col-centered {
	text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}

#divPregunta {
	height: 200px;
	text-align: center;
}

a img {
	min-height: 75px;
	min-width: 190px;
	max-width: 205px;
	max-height: 190px;
	margin-right: 15px;
	margin-top: 5px;
	border: 1px solid #ccc;
}

.img-zoom {
	max-width: 1040px;
	max-height: 400px;
	min-width: 195px;
	min-height: 75px;
	border: 1px solid #ccc;
}

#enunciado {
	font-family: "Verdana";
	font-size: 1.25em;
	width: 70%;
	height: 199px;
	text-align: center;
	margin-left: 8px;
}

.choice {
	-webkit-appearance: none;
	border-radius: 10px;
	text-align: center;
    height: 54px;  
}
